/* =================== Import + Root =================== */
@import url('appearance.css');
@import url('https://fonts.cdnfonts.com/css/blazma');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');



/* =================== Main =================== */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.filtered-inclusive .filter-item,
  .filtered-exclusive .filter-item,
  .filter-no-item {
    display: none;
  }

  .filtered-inclusive .filter-item.selected,
  .filtered-exclusive .filter-item:not(.selected) {
    display: block;
  }
  .filter-input {
    position: absolute;
    display: flex;
    z-index: 1;
    opacity: 0;
  }

  .filter-input:checked+label {
    background-color: var(--highlight);
    box-shadow: none;
  }
  .filter-label {
    display: block;
    /* margin-right: 1em; */
    padding: 0.5rem 0.5rem;
    /* border-radius: 0.25rem; */
    /* box-shadow: 3px 3px 3px rgb(0 0 0 / 30%); */
    background: #FFFFFF;
    transition: all 0.3s ease 0s;
    font-size: 1.25rem;
	color: var(--bg-color);
	
}


  @media all and (max-width: 812px) {
    .filter-label {
      font-size: 0.6rem;
    }
  }
  .filter-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .filter-no-item.filter-no-item-active {
    display: block;
    width: 100%;
    background: #d8d8d8;
    padding: 1em 1.5em;
    margin: 0.75%;
    border-radius: 0.25rem;
    line-height: 1.2rem;
	grid-area: 1 / 2 / 1 / 2;
  }

  @media all and (max-width: 812px) {
    .filter-no-item.filter-no-item-active {
      line-height: 0.8rem;
    }
  }
  .adcontainer{
	position: sticky;
	height: 800px;
	top: 1vh;
  }
html {
	min-height: 100%;
	/* make sure it is at least as tall as the viewport */
	position: relative;
}
.tabbuttonactive {
	color: var(--highlight)
	}
	
	#particles-js {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: -69;
	}
	
	#squares {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: -69;
	overflow: hidden;
	}
	
	
	#squares .animated-box{
	position: absolute;
	background: rgba(255,255,255,.2);
	display: block;
	pointer-events: none;
	border-radius: .5rem;
	animation: animate-squares 6s linear infinite;
	z-index: 1000;
	}
	
	@keyframes animate-squares{
	0%{
	opacity: 0;
	transform:scale(0) translateY(-200%) rotate(0deg);
	}
	10%{
	opacity: 1;
	}
	90%{
	opacity: 1;
	}
	100%{
	opacity: 0;
	transform:scale(0.5) translateY(-500%) rotate(360deg);
	}
	}
	.tabchoice {
		border-radius: 50%;
		font-size: 18px;
		color: white;
		margin: 10px;
		border: 1px solid var(--scroll-active);
		background: transparent;
		padding: 20px;
		width: 10px;
		height: 10px;
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		cursor: pointer;
		}
		.tabchoice > img {
			height: 40px;
			width: 40px;
		}
		.tabgroup{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		.GameName {
			opacity: 1;
			margin: 20px 10px;
			border-radius: 25px;
			line-height: normal;
		}
		.GameName.active {
			opacity: 1;
		}
		  .active.fade-left {
			animation: fade-left 1s ease-in;
		  }
		  .active.fade-right {
			animation: fade-right 1s ease-in;
		  }
		  @keyframes fade-bottom {
			0% {
			  transform: translateY(50px);
			  opacity: 0;
			}
			100% {
			  transform: translateY(0);
			  opacity: 1;
			}
		  }
		  @keyframes fade-left {
			0% {
			  transform: translateX(-100px);
			  opacity: 0;
			}
			100% {
			  transform: translateX(0);
			  opacity: 1;
			}
		  }
		  
		  @keyframes fade-right {
			0% {
			  transform: translateX(100px);
			  opacity: 0;
			}
			100% {
			  transform: translateX(0);
			  opacity: 1;
			}
		  }
button {
	font-family: var(--font);
	background: 0 0;
	font-size: 90%;
	border: 1px solid rgb(255, 255, 255, .2);
	border-radius: 25px;
	color: #fff;
	cursor: pointer;
	display: inline-grid;
	font-weight: 700;
	justify-items: center;
	margin: 20px 10px;
	overflow: hidden;
	padding: 15px 0;
	position: relative;
	text-align: center;
	transition-duration: .3s;
	width: 180px;
	justify-content: center;
}

button:hover {
	background-color: var(--ubg);
	color: var(--shadow) !important;
	text-decoration: none
}

.text-box {
	margin-left: 44vw;
	margin-top: 42vh
}

button:hover,
button:link {
	box-shadow: 0 10px 20px var(--shadow);
	transform: translateY(-3px)
}

button:active {
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	transform: translateY(-1px)
}

img {
	border-radius: 10%
}

.btn-white {
	background-color: #fff;
	color: #777
}

button::after {
	border-radius: 100px;
	content: "";
	display: inline-block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transition: all .4s;
	width: 100%;
	z-index: -1
}

.btn-white::after {
	background-color: #fff
}

button:hover::after {
	opacity: 0;
	transform: scaleX(1.4) scaleY(1.6)
}

.btn-animated {
	-webkit-animation: moveInBottom 5s ease-out;
	-webkit-animation-fill-mode: backwards;
	animation: moveInBottom 5s ease-out;
	animation-fill-mode: backwards
}
/* =================== Games =================== */
.adcontainer{
	position: sticky;
	height: 800px;
	top: 1vh;
  }
  
 
body {
	font-family: var(--font);
	font-weight: 500;
	font-size: 15px;
	line-height: 1.7;
	color: #FFFFFF;
	background-color: var(--bg);
	letter-spacing: 0.2px;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	scroll-behavior: smooth;
	background-color: var(--bg-color);
	/* Create the parallax scrolling effect */
	
	background-attachment: fixed;
	background-position: center;
	background-repeat: repeat;
	height: 100%;
	margin: 0;
	overflow-x: hidden;
}

a {
	cursor: pointer;
	color: var(--link);
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: none;
}

/* =================== User Counter =================== */

.counter-frame {
	line-height: 0;
	overflow: hidden;
	width: 0;
	height: 0;
	opacity: 0;
	user-select: none;
	display: none;
}

/* =================== Button =================== */

.bn1 {
	font-family: inherit;
	font-size: 1.25rem;
	padding: 0.75em 1em;
	border: none;
	outline: none;
	color: black;
	background: white;
	cursor: pointer;
	position: relative;
	z-index: 0;
	border-radius: 10px;
}

.bn1:before {
	content: "";
	background: linear-gradient(45deg,
			#ff0000,
			#ff7300,
			#fffb00,
			#48ff00,
			#00ffd5,
			#002bff,
			#7a00ff,
			#ff00c8,
			#ff0000);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(10px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowingbn1 10s linear infinite;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	border-radius: 10px;
}

@keyframes glowingbn1 {
	0% {
		background-position: 0 0;
	}

	50% {
		background-position: 400% 0;
	}

	100% {
		background-position: 0 0;
	}
}

.bn1:active {
	color: white;
}

.bn1:active:after {
	background-color: rgba(0, 0, 0, .2)
}

.bn1:hover:before {
	opacity: 1;
}

.bn1:after {
	z-index: -1;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: #d8d8d8;
	left: 0;
	top: 0;
	border-radius: 10px;
}

/* =================== Scrollbar =================== */
::-webkit-scrollbar {
	width: 20px;
}

::-webkit-scrollbar-track {
	background-color: var(--scrollbg);
}

::-webkit-scrollbar-thumb {
	background-color: #fff;
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--scroll-active);
}

::-webkit-scrollbar-thumb:active {
	background-color: var(--scroll-active);
}

/* =================== Swipe In =================== */
.hero-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	min-height: 100vh;
}

.hero {
	position: relative;
	text-align: center;
}

.hero-main {
	color: var(--ubg);
	font-size: 100px;
	font-weight: 900;
	text-transform: uppercase;
}

.hero-alt {
	color: #FFF;
	font-size: 100px;
	font-weight: 900;
	text-transform: uppercase;
}

.hero-main-small {
	color: var(--ubg);
	font-size: 40px;
	font-weight: 500;
	text-transform: uppercase;
}

/* =================== Navigation =================== */
.hide {
	display: none;
}

.aa-nav {
	width: 100%;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	height: 90px;
	overflow: hidden;
	padding-left: 40px;
	padding-right: 40px;
	transition: 0.2s linear all;
	z-index: 100;
}

.aa-small-nav {
	height: 65px;
	background: #191a21;
	box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.15);
}

/* =================== Logo =================== */
.aa-nav-icon-container {
	position: relative;
	float: left;
	height: 100%;
	padding-top: 12px;
}

.aa-nav-icon {
	height: 50px;
	cursor: pointer;
	float: left;
	transition: 0.2s linear all;
}

.aa-small-nav-icon {
	height: 45px;
}

/* =================== Navigation Items =================== */
.aa-nav-items {
	position: relative;
	float: right;
	margin: 0;
	padding-right: 20px;
	line-height: 90px;
	list-style: none;
	transition: 0.2s linear all;
}

.aa-nav-items2 {
	position: relative;
	float: left;
	margin: 0;
	padding-right: 20px;
	line-height: 90px;
	list-style: none;
	transition: 0.2s linear all;
}

.aa-small-nav-items {
	line-height: 65px;
}

.aa-nav-items>span {
	display: inline-block;
	padding-left: 30px;
}

.aa-nav-item>a {
	text-decoration: none;
	font-size: 20px;
	color: white;
	transition: 0.2s linear all;
}

.aa-nav-item>.users-online {
	text-decoration: none;
	font-size: 20px;
	transition: 0.2s linear all;
	color: var(--users-online) !important;
	font-family: Arimo;
}


.aa-nav-item>a:hover {
	color: var(--highlight) !important;
	text-decoration: none;
}

/* =================== Hamburger Menu =================== */
.aa-icon-bar {
	background-color: #fff;
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	margin-bottom: 4px;
	transition: opacity, transform;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.7, 0, 0, 0.7);
}

.aa-hamburger-menu {
	cursor: pointer;
	position: fixed;
	top: 28px;
	right: 40px;
	z-index: 999;
	display: none;
	transition: 0.2s linear all;
}

.aa-small-hamburger-menu {
	top: 25.5px;
}

.aa-hamburger-menu:hover>.aa-icon-bar {
	background-color: #E77E7E;
}

.aa-hamburger-menu:not(.collapsed) .aa-icon-bar:nth-child(1) {
	transform: translateY(6px) rotate(45deg);
}

.aa-hamburger-menu:not(.collapsed) .aa-icon-bar:nth-child(2) {
	opacity: 0;
	transform: translateX(-10px);
}

.aa-hamburger-menu:not(.collapsed) .aa-icon-bar:nth-child(3) {
	transform: translateY(-6px) rotate(-45deg);
}

/* =================== Mobile =================== */
.aa-mobile-overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #170E1F;
	overflow: auto;
	z-index: 99;
	display: none;
}

.aa-mobile-nav-items {
	padding: 0;
	margin: 65px 0px;
	text-align: center;
	list-style: none;
}

.aa-mobile-nav-items>li {
	display: block;
	padding-top: 30px;
}

.aa-mobile-nav-items>li>a {
	text-decoration: none;
	font-size: 25px;
	color: white;
}

.aa-mobile-nav-items>li>a:hover {
	color: #E77E7E;
}

/* =================== Media Query =================== */
@media screen and (max-width: 768px) {
	.aa-hamburger-menu {
		display: block;
	}

	.aa-nav-items {
		display: none;
	}
}

/* =================== Footer =================== */
.footer {
	color: var(--shadow);
   position: fixed;
bottom: 5px;
text-align: center;
font-size: 12px;
right: 14px;
display: flex;
border-style: none !important;
    border-width: 2px;
    padding-bottom: 0px !important;
}

.link {
	color: var(--shadow) !important;
margin: 0 7.5px;
}
.underline {
	text-decoration: none;
	}
.underline:hover {
	text-decoration: underline;
	}
@media (max-width: 991px) {
	.footer__container {
		padding: 0 25px;
	}
}

@media (max-width: 495px) {
	.footer__container {
		padding: 0 15px;
	}
}

.footer-content__left {
	max-width: 275px;
}

@media (max-width: 768px) {
	.footer-content__left {
		max-width: 100%;
		flex-grow: 1;
	}
}

.footer-content__right {
	padding-left: 80px;
	display: flex;
	justify-content: flex-end;
	flex-grow: 1;
}

@media (max-width: 768px) {
	.footer-content__right {
		display: none;
	}
}

.footer-content {
	display: flex;
}

.footer-content__title {
	position: relative;
}

.footer-content__title>span {
	position: relative;
	z-index: 3;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 31.5555px;
	line-height: 1.15;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.footer-content__title_span1 {
	color: var(--ubg);
}

.footer-content__title_span2 {
	color: white;
}

.footer-content__title>img {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 67.4%;
	max-width: 64px;
	transform: translate(85%, -50%);
	z-index: 1;
}

@media (max-width: 768px) {
	.footer-content__title {
		text-align: center;
	}

	.footer-content__title>img {
		transform: translate(120%, -50%);
	}
}

@media (max-width: 395px) {
	.footer-content__title>span {
		font-size: 25px;
	}

	.footer-content__title>img {
		max-width: 52px;
	}
}

.footer-content__text {
	margin-top: 32px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.71;
	color: #FFFFFF;
}

@media (max-width: 768px) {
	.footer-content__text {
		max-width: 260px;
		margin: 32px auto 0;
		text-align: center;
	}
}

.socials {
	margin-top: 24px;
}

.socials__inner {
	display: flex;
	align-items: center;
	margin: 0 -12px;
}

@media (max-width: 768px) {
	.socials__inner {
		justify-content: center;
	}
}

.socials__link {
	width: 15px;
	height: 15px;
	margin: 0 12px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.socials__link img {
	max-width: 100%;
	max-height: 100%;
}

.footer-content__wrapper {
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
	max-width: 320px;
	margin: 0 -20px;
}

.footer-content__nav {
	display: flex;
	flex-direction: column;
	margin: 0 20px;
}

.footer-content__nav-link {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.15;
	color: #FFFFFF;
	margin-top: 24px;
}

.footer-content__nav-link:hover {
	color: var(--ubg);
	transition: 0.3s;
}

.footer-copyright {
	margin-top: 64px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media (max-width: 768px) {
	.footer-copyright {
		justify-content: center;
		margin-top: 32px;
	}
}

.footer-copyright__text,
.footer-copyright__nav-link {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 13px;
	line-height: 1.53;
	color: #C8C8C8;
}

@media (max-width: 395px) {
	.footer-copyright__text {
		font-size: 12px;
	}
}

.footer__version {
	font-weight: 500;
	margin-top: 15px;
	display: grid;
	grid-auto-flow: column;
	gap: 0.25rem;
	align-items: baseline;
	width: max-content;
	color: white;
	transition: 0.3s;
}

.footer__version:hover {
	color: var(--ubg);
}

.footer__visits {
	font-weight: 500;
	margin-top: 10px;
	display: grid;
	grid-auto-flow: column;
	gap: 0.25rem;
	align-items: baseline;
	color: white;
	transition: 0.3s;
	justify-content: center;
}


@media (max-width: 768px) {
	.footer__version {
		margin: 15px auto 0;
	}

	.footer__visits {
		margin: 25px auto 0;
	}
}



/* ---- particles.js container ---- */
#particles-js {
	width: 100%;
	height: 100%;


	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	zindex: -1;
	overflow: hidden;
	background-size: cover;
	position: fixed;
}

/* ---- stats.js ---- */
.count-particles {
	background: #000022;
	position: absolute;
	top: 48px;
	left: 0;
	width: 80px;
	color: #13e8e9;
	font-size: 0.8em;
	text-align: left;
	text-indent: 4px;
	line-height: 14px;
	padding-bottom: 2px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
}

.js-count-particles {
	font-size: 1.1em;
}

#stats,
.count-particles {
	-webkit-user-select: none;
	margin-top: 5px;
	margin-left: 5px;
}

#stats {
	border-radius: 3px 3px 0 0;
	overflow: hidden;
}

.count-particles {
	border-radius: 0 0 3px 3px;
}
@media screen and (max-width: 768px) {
	.link {
		color: var(--shadow) !important;
    margin: 0 5px;
    font-size: 10px;
	}
	.cky-revisit-bottom-left {
		bottom: 30px;
		left: 15px;
	}
}
@media screen and (max-width: 365px) {
	.link {
		color: var(--shadow) !important;
    margin: 0 5px;
    font-size: 10px;
	}
	.cky-revisit-bottom-left {
		bottom: 30px;
		left: 15px;
	}
	.at {
		font-size: 10;
	}
	#yearp {
		font-size: 10;
	}
}
@media screen and (max-width: 340px) {
	.footer {
		display: none;
	}
}
